@use '../util' as *;

.header {
    margin-top: rem(36);
    @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    // &__title {
    // }
    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--text1);
    }
    // &__toggle {
    // }
}